<!DOCTYPE html>
<html lang="zh">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>优惠管理</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <!-- Data Tables -->
    <link href="css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>金额</small></h5>
                    <div class="ibox-tools">
                        <a  data-toggle="modal" data-target="#coupon_add_modal" >
                            <i class="fa fa-plus"></i>&nbsp;添加
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table id="age_table" class="table table-striped table-bordered table-hover ">
                        <thead>
                        <tr>
                            <th>金额编号(1xxx格式)</th>
                            <th style="width: 16%">金额</th>
                            <th style="width: 16%">开始时间</th>
                            <th style="width: 16%">结束时间</th>
                            <th style="width: 16%">使用条件</th>
                            <th style="width: 16%">操作</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <!--<tr>-->
                                <!--<th>00</th>-->
                                <!--<th>红酒</th>-->
                                <!--<th>199</th>-->
                            <!--</tr>-->
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <!--金额信息添加-->
    <div class="modal inmodal" id="coupon_add_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <i class="fa fa-laptop modal-icon"></i>
                    <h4 class="modal-title">金额添加</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>金额编号(1xxx格式)</label>
                        <input type="number" id="coupon_add_id" placeholder="请输入折扣编号" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>金额</label>
                        <input type="number" id="coupon_add_amount" placeholder="请输入折扣" class="form-control">
                    </div>
                    <div class="form-group">
                        <label >开始时间</label>
                        <input type="date" id="coupon_add_strat" class="form-control" placeholder="请输入启用时间"   value="" />
                    </div>
                    <div class="form-group">
                        <label >结束时间</label>
                        <input type="date" id="coupon_add_end" class="form-control" placeholder="请输入结束时间" value="" />
                    </div>

                    <div class="form-group">
                        <label >使用条件</label>
                        <input type="text" id="coupon_add_condition" class="form-control" placeholder="请输入使用条件" value="" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <a id="btn_add_save" class="btn btn-primary">添加</a>
                </div>
            </div>
        </div>
    </div>

    <!--金额修改-->
    <div class="modal inmodal" id="coupon_edit_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <i class="fa fa-laptop modal-icon"></i>
                    <h4 class="modal-title">折扣修改信息修改</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>折扣编号(1xxx格式)</label>
                        <input readonly type="text" id="coupon_edit_id" placeholder="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>折扣</label>
                        <input type="text" id="coupon_edit_amount" placeholder="请输入折扣" class="form-control">
                    </div>
                    <div class="form-group">
                        <label >开始时间</label>
                        <input type="date" id="coupon_edit_strat" class="form-control" placeholder="请输入启用时间" />
                    </div>
                    <div class="form-group">
                        <label >结束时间</label>
                        <input type="date" id="coupon_edit_end" class="form-control" placeholder="请输入结束时间"  />
                    </div>
                    <div class="form-group">
                        <label >使用条件</label>
                        <input type="text" id="coupon_edit_condition" class="form-control" placeholder="请输入使用条件" value="" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <a id="btn_edit_save" class="btn btn-primary">保存</a>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


<div class="spiner-example" id="loading-coupon" >
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>

<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.5"></script>
<script src="js/plugins/jeditable/jquery.jeditable.js"></script>
<script src="js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="js/plugins/sweetalert/sweetalert.min.js"></script>
<!--时间插件-->
<script src="js/content.min.js?v=1.0.0"></script>
<!--custom-js-->
<script src="custom-js/coupon_amount.js"></script>


</body>

</html>