<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>优惠券</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="css/issueCoupons.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery-1.js"></script>
    <script type="text/javascript" src="js/tab.js"></script>
</head>
<body>


<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed">
        <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-return"></i>
        </a>
        <div class="aui-center">
            <span class="aui-center-title">发放优惠券</span>
        </div>
        <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-sys"></i>说明
        </a>
    </header>
    <section class="aui-scrollView">
        <div class="aui-tab" data-ydui-tab="">
            <div class="tab-panel">
                <div class="tab-panel-item tab-active">
                    <div class="tab-item">
                        <div class="aui-tab-search-box">
                            <div class="aui-tab-search-bg">
                            </div>
                        </div>
                        <div class="aui-coupon-box">
                            <div class="aui-coupon-list" th:each="couponType:${couponTypes}">
                                <!--打折券种类-->
                                <div class="aui-coupon-list-flex" th:if="${couponType.getType()}=='1'">
                                    <div class="aui-coupon-list-flex-hd">
                                        <h2 th:utext="'<i>&nbsp;</i>'+${couponType.discount}+'&nbsp;折'"></h2>
                                        <p>全场通用</p>
                                    </div>
                                    <div class="aui-coupon-list-flex-bd">
                                        <h3 th:utext="'<em>打折券</em>&nbsp;全场商品'+${couponType.getDiscount()}+'折优惠券'"></h3>
                                        <p>&nbsp;由项目发起人设置&nbsp;<i>无限期</i><em class="coupon-issue" th:onclick="'issueCoupon('+${couponType.getCo_id()}+')'">&nbsp;发放&nbsp;</em></p>
                                    </div>
                                </div>
                                <!--现金券种类-->
                                <div class="aui-coupon-list-flex" th:unless="${couponType.getType()}=='1'">
                                    <div class="aui-coupon-list-flex-hd">
                                        <h2 th:utext="'<i>￥</i>'+${couponType.amount}"></h2>
                                        <p>限定满减</p>
                                    </div>
                                    <div class="aui-coupon-list-flex-bd">
                                        <!--<h3 th:utext="'<em>'+((${couponType.type}=='1')?'打折券':'现金券')+'</em>&nbsp;'+${couponType.condition_use}"></h3>-->
                                        <h3 th:utext="'<em>现金券</em>&nbsp;限定商品'+${couponType.getAmount()}+'元现金券'"></h3>
                                        <p>&nbsp;由项目发起人设置&nbsp;<i>无限期</i><em class="coupon-issue" th:onclick="'issueCoupon('+${couponType.getCo_id()}+')'">&nbsp;发放&nbsp;</em></p>
                                    </div>
                                </div>
                                <!--用券说明-->
                                <div class="aui-show-content">
                                    <a href="javascript:;" class="aui-coupon-list-flex-bt btn-slide">用券详细说明
                                        <i class="icon icon-dow"></i>
                                    </a>
                                    <div class="aui-show" style="display:none">
                                        <p>优惠券使用说明</p>
                                        <p>使用限定：全场商品 </p>
                                        <p>使用方式：任何价位均可使用该券</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
<script>
    function issueCoupon(couponType) {
        $.ajax({
            type: "get",
            url: "/coupon/issue/generate",
            data: "couponType="+couponType,
            dataType: "text",
            success: function (data) {
                $(location).attr('href', '/coupon/collect?couponId=' + data);
            },
            error: function () {
                alert("error");
            }
        });


        // var jsonTest = {};
        // jsonTest.test1 = "客户端测试一";
        // jsonTest.test2 = "客户端测试二";
        // $.ajax({
        //     type: "POST",
        //     url: "/coupon/issue/test",
        //     data: jsonTest,
        //     // contentType: "application/json;charset=utf-8",
        //     dataType: "json",
        //     success: function (data) {
        //         alert(JSON.stringify(data));
        //     },
        //     error: function () {
        //         alert("error");
        //     }
        // });
    }
</script>
</html>
