<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>css3炫酷登录页</title>
	<meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
	<meta name="author" content="Vincent Garreau" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" media="screen" href="login/css/style.css">
	<link rel="stylesheet" type="text/css" href="login/css/reset.css"/>
	<link href="css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
	<link href="css/style.min.css?v=4.0.0" rel="stylesheet">
</head>
<body>

<div id="particles-js">
	<div class="login">
		<div class="login-top">
			登录
		</div>
		<div class="login-center clearfix">
			<div class="login-center-img"><img src="login/img/name.png"/></div>
			<div class="login-center-input">
				<input type="text" name="" id="username" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'"/>
				<div class="login-center-input-text">用户名</div>
			</div>
		</div>
		<div class="login-center clearfix">
			<div class="login-center-img"><img src="login/img/password.png"/></div>
			<div class="login-center-input">
				<input type="password" name=""value="" id="pwd" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'"/>
				<div class="login-center-input-text">密码</div>
			</div>
		</div>
		<div class="login-button" id="btn_login">
			登陆
		</div>
	</div>
	<div class="spiner-example" id="loding-login" style="display: none">
		<div class="sk-spinner sk-spinner-wave">
			<div class="sk-rect1" style="background-color: white;"></div>
			<div class="sk-rect2" style="background-color: white;"></div>
			<div class="sk-rect3" style="background-color: white;"></div>
			<div class="sk-rect4" style="background-color: white;"></div>
			<div class="sk-rect5" style="background-color: white;"></div>
		</div>
	<div class="sk-rotating-plane">
	</div>

</div>

</div>

<!-- scripts -->
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.5"></script>
<script src="login/js/particles.min.js"></script>
<script src="login/js/app.js"></script>
<script src="js/plugins/sweetalert/sweetalert.min.js"></script>

<!--custom-js-->
<script src="custom-js/login.js" ></script>
</body>
</html>