<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>订单查询</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <!-- Data Tables -->
    <link href="css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="plugins/bootstrap-switch/css/bootstrap-switch.css" rel="stylesheet">
    <link href="plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet">
    <link href="plugins/css/components.css" rel="stylesheet">
    <link href="plugins/css/plugins.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.0.0" rel="stylesheet">
    <base target="_blank">

    <link rel="stylesheet" href="js/plugins/daterangepicker/css/bootstrap.css"/>

    <link href="js/plugins/daterangepicker/css/daterangepicker.css" rel="stylesheet">

<style>
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
</style>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12" id="page_order_list">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>订单查询</small></h5>
                </div>
                <div class="ibox-content">

                    <div class="input-group">
                        <span style="font-size: 17px">通过订单号查询：</span>
                        <input type="text" id="seachValue" class="input-medium col-md-4 form-control" >
                        <button class="btn btn-primary" style="height:34px;" id="seachByid">查找</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="font-size: 17px">通过时间查询：</span>
                        <button type="button" class="btn btn-default " id="daterange-btn"
                                style="background-color: rebeccapurple;">
                            <i class="fa fa-calendar"></i>
                            <span>时间</span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <button class="btn" style="background-color: #e8d614;" id="seachByTime">查找</button>
                    </div>

                    <table id="order_table" class="table table-striped table-bordered table-hover ">
                        <thead>
                        <tr>
                            <th style="width: 11%">订单号</th>
                            <th style="width: 11%">下单时间</th>
                            <th style="width: 11%">收件人</th>
                            <th style="width: 11%">下单人</th>
                            <th style="width: 11%">优惠券</th>
                            <th style="width: 11%">总价</th>
                            <th style="width: 11%">订单状态</th>
                            <th style="width: 11%">是否自提</th>
                            <th style="width: 12%">操作</th>
                        </tr>
                        </thead>
                        <tbody></tbody>

                    </table>

                </div>
            </div>
        </div>

    </div>


</div>
<!--订单信息修改-->
<div class="modal inmodal" id="order_edit_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">关闭</span>
                </button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">订单信息修改</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>订单编号</label>
                    <input readonly type="text" id="order_edit_order" placeholder="" class="form-control">
                </div>
                <div class="form-group">
                    <label>总计</label>
                    <input type="text" id="order_edit_price" placeholder="请输入修改总计" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <a id="btn_edit_save" class="btn btn-primary">保存</a>
            </div>
        </div>
    </div>
</div>
<div class="spiner-example" id="loading-order" >
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>


<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.5"></script>
<script src="js/plugins/jeditable/jquery.jeditable.js"></script>
<script src="js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="plugins/bootstrap-switch/js/bootstrap-switch.js"></script>
<script src="plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
<script src="js/content.min.js?v=1.0.0"></script>

<!--<script type="text/javascript" src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>-->
<script type="text/javascript" src="js/plugins/daterangepicker/js/bootstrap.min.js"></script>
<script src="js/plugins/daterangepicker/js/moment.min.js"></script>
<script src="js/plugins/daterangepicker/js/daterangepicker.js"></script>
<!--custom-js-->
<script src="custom-js/order.js"></script>


</body>

</html>