<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>用户添加</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">


    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 id="express_title">用户添加</h5>
                </div>

                <div class="spiner-example" id="loading-express" style="display: none">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                </div>

                <div class="ibox-content" style="min-height: 450px;">

                    <form class="form-horizontal m-t" id="commentForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" >用户手机号:</label>
                            <div class="col-sm-6">
                                <input id="platToMall_phone" name="name" minlength="2" type="text" class="form-control" required="" aria-required="true">
                            </div>
                            <div class="col-sm-3 text-left" ><a id="btn_search" class="btn btn-primary">查找</a></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">密码</label>
                            <div class="col-sm-7">
                                <input readonly id="platToMall_password" type="text" class="form-control"  required="" aria-required="true">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户id:</label>
                            <div class="col-sm-7">
                                <input readonly id="platToMall_Pid" type="text" class="form-control" name="email" required="" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户昵称:</label>
                            <div class="col-sm-7">
                                <input readonly id="platToMall_nickName" type="text" class="form-control" name="email" required="" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户姓名:</label>
                            <div class="col-sm-7">
                                <input readonly id="platToMall_name" type="text" class="form-control"   required="" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户身份证:</label>
                            <div class="col-sm-7">
                                <input readonly id="platToMall_IDcard" type="text" class="form-control"  required="" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">投资金额:</label>
                            <div class="col-sm-7">
                                <input id="platToMall_invest_amount" type="text" class="form-control"  required="" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所占股份:</label>
                            <div class="col-sm-7">
                                <input id="platToMall_invest_stock" type="text" class="form-control"  required="" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <a id="btn_add_platToMall" class="btn btn-primary " >确认添加</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.5"></script>
<script src="js/content.min.js?v=1.0.0"></script>
<script src="js/plugins/jsTree/jstree.min.js"></script>
<script src="js/plugins/sweetalert/sweetalert.min.js"></script>

<style>
    .jstree-open>.jstree-anchor>.fa-folder:before{content:"\f07c"}.jstree-default .jstree-icon.none{width:0}
</style>

<script type="text/javascript" src="custom-js/platformUser.js" ></script>
</body>

</html>